@font-face {
  font-family: GothamRoundedLight;
  src: url("/startpage/fonts/GothamRoundedLight.otf") format("opentype");
}

@font-face {
  font-family: GothamBold;
  src: url("/startpage/fonts/GothamBold.otf") format("opentype");
}

@font-face {
  font-family: GothamRoundedMedium;
  src: url("/startpage/fonts/GothamRoundedMedium.otf") format("opentype");
}

*{
  padding: 0;
  margin: 0;
  font-size: 0;
  user-select: none;
  outline: none;
  overflow:hidden;
}

body {
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 100%;
  position:absolute;
}

body:after{
  content: "";
  background: url("/startpage/img/bg1.png");
  opacity: 0.03;
  width:100%;
  height:100%;
  position: absolute;
  z-index: -1;  
}

.smooth-bg{
  transition: 0.5s background-color ease;
}

.header{
  height: 131px;
  width: 100%;
  position:absolute;
  left: 0;
  top: 0;
  overflow: visible;
}

.bar_ini{
  background-color: rgb(52, 61, 70);
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  will-change: transform;
}

.bar{
  background-color: rgb(52, 61, 70);
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: transform .6s cubic-bezier(0.38, 0.26, 0.28, 0.96);
}

.top_left_icon{
  position:absolute;
  display:flex;
  width: 75px;
  height: 75px;
  left: 50px;
  top: 27.5px;
  z-index: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease; 
}

.top_right_icon{
  position:absolute;
  width: 75px;
  height: 75px;
  right: 50px;
  top: 27.5px;
  font-family: GothamRoundedLight;
  color: rgb(230, 230, 230);
  text-align:center;
  z-index: 1;
}

.top_right_icon:hover{
  cursor: pointer;
}

.top_left_icon a{
  overflow: visible;
  display: flex;
}

#top-left-icon{
  margin: auto auto;
  position:relative;
  width:100%;
  height: 100%;
  opacity: 0.9;
  transition-property: transform,;
  transition-duration: 0.15s;
  transition-timing-function: ease; 
  will-change: transform;
}

#top-left-icon:hover{
  transform: scale(1.1);
}

.input{
  z-index:16;
  transform: translateX(-50%);
  border-radius: 5px;
  width: 345px;
  overflow:visible;
  position: absolute;
  left:50%;
  top: 37px;
}

@media only screen and (max-width: 1000px) {
  .input{
    left:500px;
  }
  .suggestions{
    left:500px;
  }
  .content{
    width: 950px !important;
    height: 110px !important;
  }
  .preview-small-container{
    height: 110px !important;
  }
  .top_right_icon{
    left: 875px !important;
  }
  .header{
    width: 1000px;
  }
}

@media only screen and (max-width: 930px) {
  .top_right_icon{
    opacity: 0;
  }
}

#input {
  position: absolute;
  font-family: GothamRoundedLight;
  outline: none;
  z-index: 13;
  white-space: nowrap;
  width: 345px;
  box-sizing: border-box;
  height: 50px;
  background-color: #e3e3e3;
  border: none;
  border-left: 10px rgb(230, 230, 230) solid;
  border-color: rgb(170, 170, 170);
  font-size: 13pt;
  float: left;
  color: #333c47;
  padding-left: 45px;
  padding-right: 25px;
  border-radius: 5px;
  text-decoration: none;

  transition-property: background-color, padding-left;
  transition-duration: .55s, 0.25s;
  transition-timing-function: ease, cubic-bezier(0.320, 0.230, 0.215, 1.350);
}

.input:hover #input{
  background-color: #f0f0f0;
}

.input-typing #input{
  background-color: #f0f0f0;
  padding-left: 5px;
}

#input::selection{
  color:#333c47;
  background-color:rgb(0, 150, 255, 0.25);
  text-decoration: none;
}

#input::placeholder{
  opacity:1;
  transition: opacity 0.2s ease;
}

.input-typing #input::placeholder{
  opacity:0;
}

.time{
  position: absolute;
  left: -100%;
  top: 128px;
  height: 3px;
  width: 100%;
  transform: translateX(0%);
  background-color: rgb(230, 230, 230);
  transition: 2.5s transform cubic-bezier(0.6, 0, 0.1, 1); 
  will-change: transform;
}

.clock{
  text-shadow: 2px 2px rgba(0, 0, 0, 0.09);
  z-index: 10;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
  width:100%;
  position: absolute;
  overflow: visible;
  transition: transform 2.5s cubic-bezier(0.6, 0, 0.1, 1), left 1s ease;
  will-change: transform, left;
}

.clock span{
  color: rgb(52, 61, 70);
  font-size: 11pt;
}

.clock .hour{
  opacity: 0;
  font-family: GothamBold;
  font-weight: 1000;
  transition: opacity 0.7s cubic-bezier(0.7, 0, 0.2, 1);
}

.clock .minute{
  opacity: 0;
  font-family: GothamBold;
  font-weight: 1000;
  transition: opacity 0.7s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: opacity;
}

.clock .second{
  font-family: GothamRoundedLight;
  opacity: 0;
  transition: 0.7s opacity ease-in-out;
  will-change: opacity;
}

.date{
  display: block;
  font-size: 22pt;
  margin: 5px 10px 0 10px;
}

.month{
  display: block;
  font-size: 13pt;
  margin: 5px 10px 0 10px;
}

.content{
  width: auto;
  position: absolute;
  top:165px;
  right: 25px;
  left: 25px;
  display:inline-block;
  overflow: visible;
}

/*NEW*/

.preview-small{
  position: absolute;
  width: 88%;
  height: 88%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transform-origin:center center;
  box-sizing: border-box;
  overflow: visible;
}

.preview-small-container{
  display:inline-block;
  position: relative;
  overflow:visible;
  width: 20%;
  height: 11vw;
  box-sizing: border-box;
}

.preview-small *{
  box-sizing: border-box;
}

.preview-small > *{
  top:0;
  left:0;
}

.preview-small img{
  position: absolute;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  filter: blur(0px);
  z-index: 1;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  margin: auto auto;
  image-rendering: pixelated;
}

.outer{
  position: absolute;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.05);
  background-color: rgb(170, 170, 170, 0.15);
  width:100%;
  height:100%;
  transform-origin: center center;
  border: 1px solid;
  border-color: rgb(170, 170, 170);
  transition: 0.2s transform ease;
  will-change: transform;
}

.inner{
  position: absolute;
  width:100%;
  height:100%;
  transform-origin: center center;
  border: 1px solid;
  background-color:rgb(230, 230, 230);
  border-color: rgb(170, 170, 170);
  transition: 0.2s transform ease;
  will-change: transform;
}

.dark-light .inner{
  background-color:rgb(45, 45, 45);
}

.cover-container{
  pointer-events: none;
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.05);
  z-index:2;
  width:100%;
  height:100%;
  transform: scale(1.015);
  position: absolute;
  overflow:hidden;
}

.cover{
  pointer-events: none;
  position: relative;
  height: 202%;
  background-color: rgb(170, 170, 170);
  top: -51%;
  transform: translateY(0%) skewY(-30deg);
  transition: transform 0.15s linear;
}

.cover-active{
  transform: translateY(100%) skewY(-30deg);
}

.outer-active{
  transform: scale(1.07954, 1.13636);
}

.inner-active{
  transform: scale(1.0375, 1.060227);
}



/*/NEW*/






.preview-big{
  position:absolute;
  overflow:hidden;
  left: 0;
  top: 60%;
  width: 100%;
  transition: 0.3s ease;
  will-change: top;
}

@media only screen and (max-height: 800px) {
  .preview-big{
    top: 70%;
  }
}

@media only screen and (max-height: 600px) {
  .preview-big{
    top: 80%;
  }
}

@media only screen and (max-height: 500px) {
  .preview-big{
    top: 100%;
  }
}

.preview-active-exit{
  top: -1px;
  opacity: 1;
  z-index: 100 !important;
  transition: 0.6s cubic-bezier(1, 0, 0.4, 0.4) !important;
  will-change: top;
}

.preview-active-exit .big-image-container{
  top: 0 !important;
  opacity: 0.8 !important;
  transition: 0.6s cubic-bezier(1, 0, 0.4, 0.4) !important;
  transition: 0.6s opacity cubic-bezier(0.54, -0.58, 0.4, 0.98) !important;
}

.preview-big img{
  position: relative;
  filter:blur(5px);
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: -5px;
  image-rendering: pixelated;
  will-change: opacity;
}

.preview-big .big-image-container{
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  transform: translateY(30px);
  transition: 0.3s ease;
}

.fade-out{
  opacity: 0;
  transition: 0.5s cubic-bezier(1, 0, 0.7, 1) !important;
  will-change: opacity;
}

.preview-active .big-image-container{
  opacity: 0.3;
  transform: translateY(0);
}


#white{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:100;
  top:0;
  left:0;
  background-color:rgb(230, 230, 230);
  opacity: 0;
  display:none;
  transition: opacity 0.1s ease;
}

.dark-light #white{
  background-color: rgb(45, 45, 45) !important;
}

.search-exit-fade{
  display: block !important;
  opacity: 1 !important;
}

.small-bar{
  height: 1px;
  width: 100%;
  background-color: rgb(170, 170, 170);
  margin: 0 auto;
  top: -1px;
  transform: scaleX(0);
  transition: 0.3s ease-out;
  will-change: transform;
}

.small-bar-active{
  transform: scaleX(1);
}

.small-bar-active-exit{
  transform: scaleX(1) !important;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.slider div{
  position:absolute;
  width:0;
  height:0;
  bottom: 0;
  transform-origin: bottom left;
}

.triangle-colored{
  z-index: 131;
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid rgb(255, 160, 160);
  transform: translateX(-3717px);
  transition: 0.6s transform cubic-bezier(0.3, 0, 0.55, 1);
  will-change: transform;
}

.triangle-white{
  z-index: 132;
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid white;
  transform: translateX(-3717px);
  transition: 0.6s cubic-bezier(0.45, 0, 0.7, 1);
  will-change: transform;
}


.triangle-colored-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid;
  transform: translateX(0);
}

.triangle-white-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid white;
  transform: translateX(0);
}

.display{
  display:block;
}

.text-container{
  text-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.08);
  overflow: visible;
  position: absolute;
  top: 26vw;
  left: 10vw;
  font-family: GothamRoundedLight;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .text-container{
    top: 364px;
    left: 140px;
  }
}

.text-site{
  position:relative;
  font-size: 20pt;
  top: -10pt;
  opacity: 0;
  will-change: top, opacity;
  transition: 0.2s cubic-bezier(0, 0.26, 0.32, 0.99);
}

.text-opacity-active{
  opacity: 1;
  transition: 0.2s cubic-bezier(0.46, 0.21, 0.46, 0.87) !important;
}

.text-underline{
  box-shadow: 2.5px 2.5px rgba(0, 0, 0, 0.1);
  height:1px;
  width: 100%;
  transform-origin:left;
  transform: scaleX(0);
  opacity: 0;
  background-color: rgb(50, 50, 50);
  will-change: transform, opacity;
  transition: 0.2s cubic-bezier(0, 0.26, 0.32, 0.99);
}

.text-site-active{
  top: 0;
  opacity: 1;
}

.text-underline-active{
  transform: scaleX(1);
  opacity: 1;
}

.text-box{
  position:absolute;
  padding-bottom: 5px;
  padding-right: 5px;
}

.weather-container{
  display:block;
  overflow: visible;
  color: rgb(230, 230, 230);
  position: absolute;
  top: 0;
  opacity: 0;
  left: 20%;
  height: 128px;
  font-family: GothamRoundedLight;
  will-change: opacity;
  transition: 2s opacity ease;
}

@media only screen and (max-width: 1600px) {
  .weather-container{
    opacity: 0 !important;
    transition: 0.2s opacity ease;
  }
}

.weather-description{
  margin-left: 80px;
  margin-top: 35px;
  color: rgb(230, 230, 230);
  font-size: 12pt;
}

.weather-degrees{
  margin-left: 80px;
  margin-top: 5px;
  color: rgb(230, 230, 230);
  font-size: 12pt;
}
#weather-icons{
  position: absolute;;
  width: 100%;
  height:100%;
}

.dropdown-list{
  list-style:none;
  margin:0px;
  margin-top:7px;
  padding-left:10px;
  padding-right:10px;
  padding-bottom:7px;
  color: #333333;
}

.dropdown{
  z-index: 100;
  display:none;
  position:absolute;
  border:1px solid #B2B2B2;
  min-width:150px;     
  background: rgb(240, 240, 240);
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius:5px;
}

.yt-dropdown{
  display:none;
}

.dropdown li{
  padding: 7px;
  padding-left: 10px;
  font-size: 11pt;
  font-family: GothamRoundedLight;
  cursor: pointer;
  border-radius:3px;
}

.dropdown-list li:hover{
  color: white;
  background:#343d46;
}

.sidebar{
  z-index: 13;
  position: absolute;
  opacity: 0;
  height:100%;
  width: 350px;
  right: 0;
  transform: translateX(345px);
  background-color: #343d46ee;
  transition: opacity 0.2s ease, transform 0.2s ease;
  will-change: transform, opacity;
}

.sidebar:hover{
  transform: translateX(0);
  opacity: 1;
}

.date-time{
  position: relative;
  display:flex;
  width:100%;
  height:20%;
}

.more-websites{
  position: relative;
  width:100%;
  height:70%;
  overflow:hidden;
}

.settings{
  position: relative;
  width:100%;
  height:10%;
}

.settings p{
  position:fixed;
  font-size: 8pt;
  color: rgb(230, 230, 230);
  font-family: GothamRoundedLight;
  text-align: center;
  width: 100%;
  bottom: 1%;
}

hr {
  display: block;
  height: 0;
  border: 0;
  border-top: 1px solid rgb(230, 230, 230);
  margin: 0 7%;
  padding: 0;
  bottom: 0;
}

.more-websites-list{
  position: relative;
  white-space: nowrap;
  top: 5%;
  overflow: auto;
  height: 100%;
}

.more-websites-list li{
  position:relative;
}

.more-websites-list li img{
  position: absolute;
  height: 20px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border-radius: 18%;
}

.more-websites-list li p{
  display: inline-block;
  font-size: 14pt;
  position: absolute;
  line-height: 19px;
  left: 65px;
}

.more-websites-list li span{
  display: inline-block;
  /* font-family: GothamBold; */
  font-weight: lighter;
  font-size: 19pt;
  position: absolute;
  line-height: 19px;
  left: 26px;
}

ul.more-websites-list::-webkit-scrollbar {
  width: 0;
}

.more-websites li{
  padding: 12px;
  padding-left: 7%;
  font-size: 12pt;
  font-family: GothamRoundedLight;
  cursor: pointer;
  color: rgb(230, 230, 230);
  will-change: background-color;
  transition: 0.2s ease;
}

.more-websites li:hover{
  background-color: rgba(230, 230, 230, 0.2);
}

.date-time-container{
  display: inline-block;
  width: 100%;
  padding: 0 7%;
  margin:auto;
  color: rgb(230, 230, 230);
}

.side-time{
  display: inline-block;
  float: right;
  padding-top: 20px;
  padding-right: 7px;
  font-size: 24pt;
  font-family: GothamRoundedLight;
}

.side-date{
  display: inline-block;
  font-size: 40pt;
  font-family: GothamBold;
}

.side-month{
  display: inline-block;
  font-size: 15pt;
  font-family: GothamRoundedLight;
  padding-bottom: 7px;
}

.opacity-0{
  opacity: 0;
}

/*settings*/
.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  top: 15%;
  left:15%;
  outline:none;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline:none;
}
/* The slider */
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(230, 230, 230);
  transition: .2s;
  outline:none;
}

.switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #404850;
  transition: .2s;
  outline:none;
}

input:checked + .switch-slider {
  background-color: rgb(51, 51, 51);
}


input:checked + .switch-slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.switch-slider.round {
  border-radius: 34px;
}

.switch-slider.round:before {
  border-radius: 50%;
}

.dark-mode-label{
  position:absolute;
  font-size: 12pt;
  color: rgb(230, 230, 230);
  font-family: GothamRoundedLight;
  left: 34%;
  top: 20%;
}

.suggestions{
  box-shadow: 3px 3px 1px 0px rgba(0, 0, 0, 0.05);
  overflow: auto;
  max-height: 300px;
  position: absolute;
  display: none;
  z-index: 15;
  left: 50%;
  background-color:rgb(240, 240, 240);
  border-left: 10px solid #acc0e6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transform: translate(-50%);
  top: 83px;
  margin-left: 0.4px;
  width: 335px;
  padding-top: 3px;
}

.offset{
  position:relative;
  font-size: inherit;
}

.suggestions ul{
  font-size: inherit;
  position: relative;
  overflow: visible;
  transition: height 0.2s ease;
}

.suggestions ul li {
  font-size: 13pt;
  color: rgb(52, 61, 70);
  font-family: GothamRoundedLight;
  background-color: inherit;
  padding: 7px 5px;
  transition-property: background-color, height, padding, opacity;
  transition-duration: 0.2s, 0.2s, 0.2s, 0.2s;
  transition-timing-function: ease, ease, ease, ease;
}

.suggestions ul li:hover{
  background-color: rgb(220, 220, 220) !important;
}

.dark-light .suggestions{
  background-color: rgb(45, 45, 45);
}

.dark-light .suggestions ul li{
  color:rgb(230, 230, 230);
}

.dark-light .suggestions ul li:hover{
  background-color: rgb(73, 73, 73) !important;
}

.dark-light .highlighted{
  background-color: rgb(73, 73, 73) !important;
}

b{
  font-size:inherit;
  font-weight: lighter;
  font-family: GothamRoundedMedium;
}

.highlighted{
  background-color: rgb(220, 220, 220) !important;
}

.shiftLeft{
  left: -75px !important;
}

#settings{
  position: absolute;
  top: 20%;
  right: 15%;
  opacity: 0.8;
  width: auto;
  display: inline-block;
  font-size: 12pt;
  margin-top: -7px;
  width: 30px;
  height:auto;
}

#settings:hover{
  cursor: pointer;
  opacity: 1;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgb(230, 230, 230);
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(200, 200, 200); 
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(170, 170, 170); 
}


.dark-light ::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: rgb(45, 45, 45);
}

.dark-light ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: rgb(78, 78, 78); 
}

.dark-light ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(124, 124, 124); 
}


.dark-dark{
  background-color: rgb(10, 10, 10) !important;
  color: rgb(240, 240, 240) !important;
}

.dark-light{
  background-color: rgb(45, 45, 45) !important;
  color: rgb(240, 240, 240) !important;
}

.white-font{
  color:rgb(240, 240, 240) !important;
}

.white-background{
  background-color: rgb(240, 240, 240) !important;
}

.notrans{
  transition:none !important;
}