* {
    padding: 0px;
    margin: 0px;
    font-family: GothamRoundedLight;
    box-sizing: border-box;
}

@media only screen and (max-width: 799px) {
    .shadow {
        width: 480px !important;
        left: 15%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1300px){
    .shadow {
        width: 70% !important;
        left: 15%;
    }
}

@media only screen and (min-width: 1301px) {
    .shadow {
        width: 910px !important;
        left: 25%;
    }
}

@font-face {
font-family: GothamRoundedLight;
src: url("./GothamRoundedLight.otf") format("opentype");
}

h1 {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: 400;
}

body,
html {
    height: 100%;
    font-size: 1.1em;
}

body {
    background: #eee;
    display: flex;
    align-content: center;
}

input, input:focus {
    padding: 10px 0;
    color: #5c5c5c;
    display: block;
    width: 100%;
    outline : none;
    font-size: 0.9em;
    border : none;
    border-bottom : 1px solid #ddd;
}

div {
    background: white;
    margin: auto;
    padding: 20px;
}

.shadow {
    position:absolute;
    box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.14);
}

.path{
    top: 10px;
}
.basic{
    top: 205px;
}
.websites{
    top: 370px;
}
.custom{
    top: 530px;
}

button {
    box-shadow: 3px 3px 1px 0 rgba(0, 0, 0, 0.14);
    width:200px;
    margin-top: 15px;
    padding: 5px;
    background: rgb(52, 61, 70);
    border: none;
    float: right;
    color: rgb(230, 230, 230);
    font-size : 1.1em;
    padding: 10px;
    border-radius: 3px;
    outline: none;
}

button:hover {
    background: rgb(62, 71, 80);
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
    top: 15%;
    left:20%;
    outline:none;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
    outline:none;
}
/* The slider */
.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(230, 230, 230);
    transition: .2s;
    outline:none;
}

.switch-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: #404850;
    transition: .2s;
    outline:none;
}

input:checked + .switch-slider {
    background-color: rgb(51, 51, 51);
}


input:checked + .switch-slider:before {
    transform: translateX(20px);
}

/* Rounded sliders */
.switch-slider.round {
    border-radius: 34px;
}

.switch-slider.round:before {
    border-radius: 50%;
}