* {
    padding: 0px;
    margin: 0px;
    font-family: GothamRoundedLight;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select:none;
       -moz-user-select:none;
        -ms-user-select:none;
            user-select:none;
}

@font-face {
    font-family: GothamRoundedLight;
    src: url("/settings/fonts/GothamRoundedLight.otf");
  }

body{
    background-color: rgb(230, 230, 230);
}

.smooth-bg{
    -webkit-transition: 0.5s background-color ease;
    -o-transition: 0.5s background-color ease;
    transition: 0.5s background-color ease;
}

.block{
    position: relative;
    width: 80%;
    margin: 20px auto;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 3% 3% 2.5% 3%;
    border-radius: 3px;
    background-color: white;
    max-width: 1000px;
    min-width: 895px;
}

h1{
    font-size: 30pt;
    margin: 40px auto 25px auto;
    text-align: center;
}

hr{
    width: 120px;
    margin: 0 auto 35px auto;
}

h2{
    font-size: 23pt;
    margin-bottom: 5%;
}

h3{
    font-weight:normal;
    margin-bottom: 30px;
    margin-top: 10px;
}

h4{
    margin: 10px 0;
    opacity: 0.3;
    -webkit-transition: 0.1s opacity ease;
    -o-transition: 0.1s opacity ease;
    transition: 0.1s opacity ease;
    will-change: opacity;
}

h4:hover{
    opacity: 0.7;
}

.side{
    position: fixed;
    top: 50%;
    left: 0;
    -webkit-transition: opacity 0.1s ease;
    -o-transition: opacity 0.1s ease;
    transition: opacity 0.1s ease;
}

.side-content{
    position: relative;
    -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
            transform:translateY(-50%);
    background-color: white;
    font-size: 16pt;
    padding: 20px 30px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1470px){
    .side{
        opacity: 0;
    }
}

.content{
    margin: 0 3%;
}

.subcontent{
    padding-left: 20px;
}

#choose-file{
    display: inline-block;
    position: relative;
    padding: 8px;
    background-color: rgb(52, 61, 70); /*rgb(230, 230, 230);*/
    color: white;
    font-size: 14pt;
    border: none;   
}

.content{
    font-size: 14pt;
}

input{
    padding:8px;
    font-size:14pt;
    border: 1px solid rgb(52, 61, 70);
    text-decoration: none;
}

input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
}

.check{
    display: inline-block;
    cursor: pointer;
    margin: 0 10% 20px 0;
}

.time{
    display: inline-block;
}

.time-input{
    display: inline-block;
    overflow: hidden;
    width: 60px;
    margin-bottom: -6px;
    margin-left: 10px;
    margin-right: 15px;

}

.time-input input{
    border: none;
    padding: 0;
}


#file-path{
    width:100%;
}

:focus{
    outline: none;
}

::-moz-selection{
    background-color:rgb(0, 150, 255, 0.25)
}

::selection{
    background-color:rgb(0, 150, 255, 0.25)
}

p{
    margin-bottom: 20px;
}

.note{
    color: rgb(190, 190, 190);
    font-size: 11pt;
}

.button{
    display: inline-block;
    position: relative;
    padding: 8px;
    background-color: rgb(52, 61, 70); /*rgb(230, 230, 230);*/
    color: white;
    font-size: 14pt;
    border: none;
    margin-bottom: 20px;
}

.button:hover{
    cursor: pointer;
}

.button-action-active::after{
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    content: "";
    background-color: #737373;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 107%;
    left: 0;
}

.popup{
    display:none;
    position: fixed;
    height:100%;
    width:100%;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(0, 0, 0, 0.3)
}


.popup-active{
    display: block;
}

.popup .popup-content{
    position: absolute;
    height:230px;
    width: 355px;
    margin:auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(240, 240, 240);
    border-radius: 3px;
}

.popup .popup-title{
    font-size: 20pt;
    text-align: center;
    margin: 20px 0;
}

.popup .popup-info{
    font-size: 11pt;
    margin: 12px 20px;
}

.cancel{
    background-color: transparent;
    color: black;
    margin: 0;
}

.confirm{
    float:right;
    margin: 0;
}

.popup .popup-buttons{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
}

.blur{
    -webkit-filter:blur(3px);
            filter:blur(3px)
}

.manage{
    margin-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.manage tbody{
    display:block;
    overflow:auto;
    border-spacing: 50px 10px;
    overflow-x:hidden;
    max-height: 350px;
}

/*.manage*/ input{
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

.dark-dark .manage input{
    color: white;
    background-color: rgb(10, 10, 10);
}

.manage tbody::-webkit-scrollbar {
    width: 5px;
}

.manage tbody::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgb(230, 230, 230);
}

.manage tbody::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(200, 200, 200); 
}

.manage tbody::-webkit-scrollbar-thumb:hover {
    background-color: rgb(170, 170, 170); 
}


.dark-dark .manage tbody::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgb(153, 153, 153);
}

.dark-dark .manage tbody::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(65, 65, 65); 
}

.dark-dark .manage tbody::-webkit-scrollbar-thumb:hover {
    background-color: rgb(46, 46, 46); 
}


#sidebar-websites tbody, #search-engines tbody, #context-menu tbody{
    border-spacing: 15px 10px;
}

#search-engines .property{
    width: 20px;
}

#search-engines .table-icon-color{
    position:absolute;
    background-color: rgb(170, 170, 170);
    top:3px;
    line-height: 16.5pt;
    font-size: 10pt;
    color: white;
}

.dark-dark #search-engines .table-icon-color{
    color: rgb(10, 10, 10);
}

td{
    padding: 3px;
    position: relative;
}

th{
    padding-bottom: 10px;
}

.manage .action{
    text-align:center;
}

.table-icon{
    height: 22px;
    width: 22px;
    text-align: center;
}

.table-icon.table-icon-color.darkmode-off{
    font-size: 10pt;
    line-height: 19px;
    color:black !important;
}

.table-icon.table-icon-color.darkmode-on{
    font-size: 10pt;
    line-height: 19px;
    color:white !important;
}

.table-icon-img{
    height:22px;
    border-radius: 18%;
}

.bin{
    height:22px;
    width:22px;
    opacity: 0.4;
    -webkit-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    transition: 0.1s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.bin:hover{
    opacity: 1;
}

.edit{
    height:22px;
    width:22px;
    opacity: 0.25;
    -webkit-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    transition: 0.1s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.edit:hover{
    opacity: 1;
}

#path{
    -webkit-user-select: all;
       -moz-user-select: all;
        -ms-user-select: all;
            user-select: all;
}

#popup-input{
    display:none;
    -webkit-transition: 0.2s ease;
    -o-transition: 0.2s ease;
    transition: 0.2s ease;
    margin:auto;
}

.popup-input-active{
    display:block !important;
}

#popup-input:focus{
    background-color: white;
}

tr.selected{
    font-weight:bold;
    text-shadow: 5px 4px 2px rgb(0, 0, 0, 0.09);
}

.message-container{
    width: 20%;
    left:40%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display:none;
}

.message{
    margin: 0;
    top:0;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 17pt;
    width: 100%;
    line-height: 45px;
}

.item-text{
    text-align: center;
    display: inline-block;
    position: relative;
}

.item-edit{
    display:inline-block;
    position: absolute;
    padding-left: 7px;
}

.add-engine input{
    width:120px;
}

.add-website input{
    width:140px;
}

.add-context input{
    width:200px;
}

.add-url input{
    width:260px;
}

#context-menu .add-url input{
    
    width:400px;
}

.add-img input{
    width:150px;
}

.add-col input{
    width:100px;
}

.add td input{
    border:none;
    padding: 0;
    -webkit-transition: 0.1s border ease;
    -o-transition: 0.1s border ease;
    transition: 0.1s border ease;
    border-bottom: 1px solid rgb(220, 220, 220) !important;
}

.add td input:focus{
    border-bottom: 1px solid rgb(0, 0, 0) !important;
}

.dark-dark .add td input{
    border-bottom: 1px solid rgb(131, 131, 131) !important;
}

.dark-dark .add td input:focus{
    border-bottom: 1px solid rgb(255, 255, 255) !important;
}


#sidebar-websites input::-webkit-input-placeholder, #context-menu input::-webkit-input-placeholder, #search-engines input::-webkit-input-placeholder{
    color:rgb(220, 220, 220);
}


#sidebar-websites input:-ms-input-placeholder, #context-menu input:-ms-input-placeholder, #search-engines input:-ms-input-placeholder{
    color:rgb(220, 220, 220);
}


#sidebar-websites input::-ms-input-placeholder, #context-menu input::-ms-input-placeholder, #search-engines input::-ms-input-placeholder{
    color:rgb(220, 220, 220);
}


#sidebar-websites input::placeholder, #context-menu input::placeholder, #search-engines input::placeholder{
    color:rgb(220, 220, 220);
}

.dark-dark #sidebar-websites input::-webkit-input-placeholder, .dark-dark #search-engines input::-webkit-input-placeholder, .dark-dark #context-menu input::-webkit-input-placeholder{
    color:rgb(100, 100, 100);
}

.dark-dark #sidebar-websites input:-ms-input-placeholder, .dark-dark #search-engines input:-ms-input-placeholder, .dark-dark #context-menu input:-ms-input-placeholder{
    color:rgb(100, 100, 100);
}

.dark-dark #sidebar-websites input::-ms-input-placeholder, .dark-dark #search-engines input::-ms-input-placeholder, .dark-dark #context-menu input::-ms-input-placeholder{
    color:rgb(100, 100, 100);
}

.dark-dark #sidebar-websites input::placeholder, .dark-dark #search-engines input::placeholder, .dark-dark #context-menu input::placeholder{
    color:rgb(100, 100, 100);
}

.variable-item input{
    border:none;
    padding: 0;
    width:260px;
}

.variable-website input{
    border:none;
    padding: 0;
    width:140px;
}

.variable-engine input{
    border:none;
    padding: 0;
    width:120px;
}

.variable-url input{
    border:none;
    padding: 0;
    width:260px;
}

#context-menu .variable-url input{
    width:400px;
}

.variable-img input{
    border:none;
    padding: 0;
    width:150px;
}

.variable-color input{
    border:none;
    padding: 0;
    width:100px;
}

.variable-context input{
    border:none;
    padding: 0;
    width:200px;
}

#darksky{
    width:100%;
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.dark-dark #darksky{
    border-bottom-color: white;
}

.property .table-icon.table-icon-color{
    border-radius: 50%;
    display: inline-block;
}

.property .table-icon.table-icon-color.table-icon-main{
    margin: 3px;
}

.move{
    margin:0;
}

.table-move{
    height: 22px;
    width: 22px;
}

.table-move img{
    position:absolute;
    height:22px;
    opacity: 0.3;
    -webkit-transition: 0.1s ease;
    -o-transition: 0.1s ease;
    transition: 0.1s ease;
}

.table-move img:hover{
    opacity: 0.6;
}

.drag{
    position: fixed;
    display:none;
    width: 630px;
    height: 28px;
    background-color: rgba(128, 128, 128, 0.6)
}

.crossed{
    position: relative;
}

.crossed:before {
    position: absolute;
    content: "";
    left: -2px;
    top: 50%;
    right: 0;
    width: 26px;
    border-top: 1px solid;
    border-color: inherit;
    -webkit-transform: rotate(-30deg);
        -ms-transform: rotate(-30deg);
            transform: rotate(-30deg);
}

#profile-text-export{
    display: none;
    font-size: 14pt;
    width:100%;
    height:450px;
}

#profile-text-import{
    display: none;
    font-size: 14pt;
    width:100%;
    height:450px;
}

#profile-import-confirm{
    float: right;
    display:none;
}

.profile-import-confirm-ready{
    display: inline-block !important;
}

textarea{
    resize: none;
    text-decoration: none;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 9px;
            box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 9px;
}

.location{
    display: inline-block;
    margin-bottom: 20px;
}

.location div{
    display: inline-block;
}

.location input{
    padding: 0;
    border: none;
}

.location input::-webkit-input-placeholder{
    color:rgb(220, 220, 220);
}

.location input:-ms-input-placeholder{
    color:rgb(220, 220, 220);
}

.location input::-ms-input-placeholder{
    color:rgb(220, 220, 220);
}

.location input::placeholder{
    color:rgb(220, 220, 220);
}

.dark-dark .location input::-webkit-input-placeholder{
    color:rgb(100, 100, 100);
}

.dark-dark .location input:-ms-input-placeholder{
    color:rgb(100, 100, 100);
}

.dark-dark .location input::-ms-input-placeholder{
    color:rgb(100, 100, 100);
}

.dark-dark .location input::placeholder{
    color:rgb(100, 100, 100);
}

.note a{
    color: inherit;
    text-decoration: underline;
}

.darkmode-on{
    background-color: rgb(45, 45, 45);
    border: 1px solid white;
}

.darkmode-off{
    background-color: white;
    border: 1px solid rgb(45, 45, 45);
}

.dark-dark{
    background-color: rgb(10, 10, 10) !important;
    color: white !important;
}

.dark-light{
    background-color: rgb(45, 45, 45) !important;
    color:white !important;
    border-color: rgb(80, 80, 80) !important;
}

.white-after::after{
    background-color: #929292 !important;
}

.white-color{
    color: white !important;
}

.dark-dark .note{
    color:rgb(100, 100, 100) !important;
}

.dark-dark table{
    border-color: white !important;
}

.dark-dark .input{
    border-color: white !important;
}

#edit{
    position: absolute;
    padding:0;
    border:none;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.2s background-color ease;
    -o-transition: 0.2s background-color ease;
    transition: 0.2s background-color ease;
    display: inline-block;
}

.navigation{
    width:100%;
    font-size:0;
}

.navigation li{
    display:inline-block;
    text-align: center;
    width: 20%;
    padding: 5px;
    font-size: 14pt;
    border: 1px solid transparent;
    overflow: hidden;
}

.navigation li.tab-active{
    border:1px solid black;
    border-bottom-color:white;
}

.dark-dark .navigation li.tab-active{
    border-color: white;
    border-bottom-color:#0a0a0a;
}

.custom .subcontent{
    min-width: 820px;
    display: inline-block;
}

.layered-content{
    width: 100%;
    
    margin-top: -1px;
    border: 1px solid #0a0a0a;

    padding:3%;
}

.dark-dark .layered-content{
    border-color: white;
}

.layered-content .main{
    width:100%;
    position: relative;
}

.main-name{
    border: none;
    margin: 20px 0;
    font-size: 20pt;
    width: 55%;
}

.main-small{
    width:370px;
    border:none;
    display: block;
}

.main p{
    margin-top: 20px;
}

#main-preview-header{
    display: inline-block;
    position: absolute;
    top: 104px;
    right: 200px;
}

.main-preview{
    right: 69px;
    top: 178px;
    height: 182px;
    width: 322px;
    position: absolute;
}

.preview-small{
    width:100%;
    height:100%;
    border:1px solid black;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.preview-small *{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.preview-small > *{
    top:0;
    left:0;
}

.preview-small img{
    position: absolute;
    cursor: pointer;
    z-index: 1;
    opacity: 0.9;
    width: 100%;
    height: 100%;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    margin: auto auto;
    -ms-interpolation-mode: nearest-neighbor;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-pixelated;
        image-rendering: pixelated;
}

.outer{
    position: absolute;
    width:100%;
    height:100%;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    border: 1px solid;
    background-color: rgb(170, 170, 170, 0.15);
    border-color: rgb(170, 170, 170);
    -webkit-transition: 0.2s -webkit-transform ease;
    transition: 0.2s -webkit-transform ease;
    -o-transition: 0.2s transform ease;
    transition: 0.2s transform ease;
    transition: 0.2s transform ease, 0.2s -webkit-transform ease;
    will-change: transform;
}

.inner{
    position: absolute;
    width:100%;
    height:100%;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    border: 1px solid;
    border-color: rgb(170, 170, 170);
    background-color: white;
    -webkit-transition: 0.2s -webkit-transform ease;
    transition: 0.2s -webkit-transform ease;
    -o-transition: 0.2s transform ease;
    transition: 0.2s transform ease;
    transition: 0.2s transform ease, 0.2s -webkit-transform ease;
    will-change: transform;
}

.dark-dark .inner{
    background-color: rgb(10, 10, 10);
}

.cover-container{
    pointer-events: none;
    z-index:2;
    width:100%;
    height:100%;
    position: absolute;
    overflow:hidden;
}

.cover{
    pointer-events: none;
    position: relative;
    height: 202%;
    background-color: rgb(170, 170, 170);
    top: -51%;
    -webkit-transform: translateY(0%) skewY(-30deg);
        -ms-transform: translateY(0%) skewY(-30deg);
            transform: translateY(0%) skewY(-30deg);
    -webkit-transition: -webkit-transform 0.15s linear;
    transition: -webkit-transform 0.15s linear;
    -o-transition: transform 0.15s linear;
    transition: transform 0.15s linear;
    transition: transform 0.15s linear, -webkit-transform 0.15s linear;
}

.advanced{
    position: absolute;
    top: 180px;
    padding-left: 6px;
    left: -10px;
    width: 15px;
    height: 15px;
}

.advanced div{
    height: 0;
    width: 0;
    border-left: 5px solid rgb(44, 44, 44);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: -webkit-transform 0.1s ease;
    -o-transition: transform 0.1s ease;
    transition: transform 0.1s ease;
    transition: transform 0.1s ease, -webkit-transform 0.1s ease;
}

.dark-dark .advanced div{
    border-left-color: rgb(230, 230, 230);
}

.advanced-true div{
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}

.main-color-mode-advanced::after{
    content:" (Advanced)";
    font-size:inherit;
    color: rgb(187, 187, 187)
}

.dark-dark .main-color-mode-advanced::after{
    color: rgb(100, 100, 100)
}

.preview-small img:hover ~ .cover-container .cover{
    -webkit-transform: translateY(100%) skewY(-30deg);
        -ms-transform: translateY(100%) skewY(-30deg);
            transform: translateY(100%) skewY(-30deg);
}

.preview-small img:hover ~ .outer{
    -webkit-transform: scale(1.07954, 1.13636);
        -ms-transform: scale(1.07954, 1.13636);
            transform: scale(1.07954, 1.13636);
}

.preview-small img:hover ~ .inner{
    -webkit-transform: scale(1.0375, 1.060227);
        -ms-transform: scale(1.0375, 1.060227);
            transform: scale(1.0375, 1.060227);
}


.main-preview-active .cover-container .cover{
    -webkit-transform: translateY(70%) skewY(-30deg) !important;
        -ms-transform: translateY(70%) skewY(-30deg) !important;
            transform: translateY(70%) skewY(-30deg) !important;
}

.main-preview-active .outer{
    -webkit-transform: scale(1.07954, 1.13636) !important;
        -ms-transform: scale(1.07954, 1.13636) !important;
            transform: scale(1.07954, 1.13636) !important;
}

.main-preview-active .inner{
    -webkit-transform: scale(1.0375, 1.060227) !important;
        -ms-transform: scale(1.0375, 1.060227) !important;
            transform: scale(1.0375, 1.060227) !important;
}

.main-small{
    padding:0;
    display: inline-block;
}

.main-img, .main-url{
    display:block;
    padding:8px;
}

.main-color-input {
    padding: 8px;
}

.main-color-input span{
    color: rgb(187, 187, 187);
}

.dark-dark .main-color-input span{
    color: rgb(100, 100, 100)
}


.main-preview-example .white{
    border-color: rgb(255, 160, 160);
}

.dark-dark #edit{
    background-color: rgb(10, 10, 10);
    color: white !important;
}

.input-error{
    background-color: #faa09c !important;
}

.dark-dark .input-error{
    background-color: #772a26 !important;
}

.opacity-1{
    opacity: 1 !important;
}

#sidebar-websites .property .table-icon{
    border-radius: 18.3%;
    background-color: #e6e6e6;
    cursor: pointer;
}

.dark-dark #sidebar-websites .property .table-icon{
    background-color: rgb(10, 10, 10);
}


.border{
    border: 1px solid black;
}

.dark-dark .border{
    border: 1px solid white;
}