* {
    padding: 0px;
    margin: 0px;
    font-family: GothamRoundedLight;
    box-sizing: border-box;
    user-select:none;
}

@font-face {
    font-family: GothamRoundedLight;
    src: url("/settings/fonts/GothamRoundedLight.otf");
  }

body{
    background-color: rgb(230, 230, 230);
}

.smooth-bg{
    transition: 0.5s background-color ease;
}

.block{
    position: relative;
    width: 80%;
    margin: 20px auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    padding: 3% 3% 2.5% 3%;
    border-radius: 3px;
    background-color: white;
    max-width: 1000px;
    min-width: 865px;
}

h1{
    font-size: 30pt;
    margin: 40px auto 25px auto;
    text-align: center;
}

hr{
    width: 120px;
    margin: 0 auto 35px auto;
}

h2{
    font-size: 23pt;
    margin-bottom: 5%;
}

h3{
    font-weight:normal;
    margin-bottom: 30px;
    margin-top: 10px;
}

h4{
    margin: 10px 0;
    opacity: 0.3;
    transition: 0.1s opacity ease;
    will-change: opacity;
}

h4:hover{
    opacity: 0.7;
}

.side{
    position: fixed;
    top: 50%;
    left: 0;
    transition: opacity 0.1s ease;
}

.side-content{
    position: relative;
    transform:translateY(-50%);
    background-color: white;
    font-size: 16pt;
    padding: 20px 30px;
    border-radius: 3px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

@media only screen and (max-width: 1470px){
    .side{
        opacity: 0;
    }
}

.content{
    margin: 0 3%;
}

.subcontent{
    padding-left: 20px;
}

#choose-file{
    display: inline-block;
    position: relative;
    padding: 8px;
    background-color: rgb(52, 61, 70); /*rgb(230, 230, 230);*/
    color: white;
    font-size: 14pt;
    border: none;   
}

.content{
    font-size: 14pt;
}

input{
    padding:8px;
    font-size:14pt;
    border: 1px solid rgb(52, 61, 70);
    text-decoration: none;
}

input[type="checkbox"]{
    margin-right: 10px;
    cursor: pointer;
}

.check{
    display: inline-block;
    cursor: pointer;
    margin: 0 10% 20px 0;
}

.time{
    display: inline-block;
}

.time-input{
    display: inline-block;
    overflow: hidden;
    width: 60px;
    margin-bottom: -6px;
    margin-left: 10px;
    margin-right: 15px;

}

.time-input input{
    border: none;
    padding: 0;
}


#file-path{
    width:100%;
}

:focus{
    outline: none;
}

::selection{
    background-color:rgb(0, 150, 255, 0.25)
}

p{
    margin-bottom: 20px;
}

.note{
    color: rgb(190, 190, 190);
    font-size: 11pt;
}

.button{
    display: inline-block;
    position: relative;
    padding: 8px;
    background-color: rgb(52, 61, 70); /*rgb(230, 230, 230);*/
    color: white;
    font-size: 14pt;
    border: none;
    margin-bottom: 20px;
}

.button:hover{
    cursor: pointer;
}

.button-action-active::after{
    transition: 0.2s ease;
    content: "";
    background-color: #737373;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 107%;
    left: 0;
}

.popup{
    display:none;
    position: fixed;
    height:100%;
    width:100%;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(0, 0, 0, 0.3)
}


.popup-active{
    display: block;
}

.popup .popup-content{
    position: absolute;
    height:230px;
    width: 355px;
    margin:auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgb(240, 240, 240);
    border-radius: 3px;
}

.popup .popup-title{
    font-size: 20pt;
    text-align: center;
    margin: 20px 0;
}

.popup .popup-info{
    font-size: 11pt;
    margin: 12px 20px;
}

.cancel{
    background-color: transparent;
    color: black;
    margin: 0;
}

.confirm{
    float:right;
    margin: 0;
}

.popup .popup-buttons{
    bottom: 0;
    position: absolute;
    width: 100%;
    padding: 10px;
}

.blur{
    filter:blur(3px)
}

.manage{
    margin-bottom: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.manage tbody{
    display:block;
    overflow:auto;
    border-spacing: 50px 10px;
    max-height: 350px;
}

.manage tbody::-webkit-scrollbar {
    width: 5px;
}

.manage tbody::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: rgb(230, 230, 230);
}

.manage tbody::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(200, 200, 200); 
}

.manage tbody::-webkit-scrollbar-thumb:hover {
    background-color: rgb(170, 170, 170); 
}

#sidebar-websites tbody, #search-engines tbody{
    border-spacing: 15px 10px;
}

#search-engines .table-icon-color{
    background-color: rgb(170, 170, 170);
}

td{
    padding: 3px;
    position: relative;
}

th{
    padding-bottom: 10px;
}

.manage .action{
    text-align:center;
}

.table-icon{
    height: 22px;
    width: 22px;
}

.table-icon.table-icon-color.darkmode-off{
    font-size: 10pt;
    line-height: 19px;
    padding: 0px 0px 0px 4.5px;
    color:black !important;
}

.table-icon.table-icon-color.darkmode-on{
    font-size: 10pt;
    line-height: 19px;
    padding: 0px 0px 0px 4.5px;
    color:white !important;
}

.bin{
    height:22px;
    width:22px;
    opacity: 0.4;
    transition: 0.1s ease;
    backface-visibility: hidden;
}

.bin:hover{
    opacity: 1;
}

.edit{
    height:22px;
    width:22px;
    opacity: 0.25;
    transition: 0.1s ease;
    backface-visibility: hidden;
}

.edit:hover{
    opacity: 1;
}

#path{
    user-select: all;
}

#popup-input{
    display:none;
    transition: 0.2s ease;
    margin:auto;
}

.popup-input-active{
    display:block !important;
}

#popup-input:focus{
    background-color: white;
}

tr.selected{
    font-weight:bold;
    text-shadow: 5px 4px 2px rgb(0, 0, 0, 0.09);
}

.message-container{
    width: 20%;
    left:40%;
    height: 50px;
    position: fixed;
    bottom: 0;
    background-color: white;
    border: 1px solid #cdcdcd;
    border-bottom: none;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    display:none;
}

.message{
    margin: 0;
    top:0;
    bottom: 0;
    position: absolute;
    text-align: center;
    font-size: 17pt;
    width: 100%;
    line-height: 45px;
}

.item-text{
    text-align: center;
    display: inline-block;
    position: relative;
}

.item-edit{
    display:inline-block;
    position: absolute;
    padding-left: 7px;
}

.add-engine input{
    width:120px;
}

.add-website input{
    width:140px;
}

.add-url input{
    width:260px;
}

.add-img input{
    width:150px;
}

.add-col input{
    width:100px;
}

.add td input{
    border:none;
    padding: 0;
    transition: 0.1s border ease;
    border-bottom: 1px solid rgb(220, 220, 220) !important;
}

.add td input:focus{
    border-bottom: 1px solid rgb(0, 0, 0) !important;
}

.dark-dark .add td input:focus{
    border-bottom: 1px solid rgb(255, 255, 255) !important;
}

#sidebar-websites input::placeholder{
    color:rgb(220, 220, 220);
}

.dark-dark #sidebar-websites input::placeholder{
    color:rgb(100, 100, 100);
}

#search-engines input::placeholder{
    color:rgb(220, 220, 220);
}

.dark-dark #search-engines input::placeholder{
    color:rgb(100, 100, 100);
}

.variable-item input{
    border:none;
    padding: 0;
    width:260px;
}

.variable-website input{
    border:none;
    padding: 0;
    width:140px;
}

.variable-engine input{
    border:none;
    padding: 0;
    width:120px;
}

.variable-url input{
    border:none;
    padding: 0;
    width:260px;
}

.variable-img input{
    border:none;
    padding: 0;
    width:150px;
}

.variable-color input{
    border:none;
    padding: 0;
    width:100px;
}

#darksky{
    width:100%;
    border:none;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.property .table-icon.table-icon-color{
    border-radius: 50%;
}

.move{
    margin:0;
}

.table-move{
    height: 22px;
    width: 22px;
}

.table-move img{
    position:absolute;
    height:22px;
    opacity: 0.3;
    transition: 0.1s ease;
}

.table-move img:hover{
    opacity: 0.6;
}

.drag{
    position: fixed;
    display:none;
    width: 630px;
    height: 28px;
    background-color: rgba(128, 128, 128, 0.6)
}

.crossed{
    position: relative;
}

.crossed:before {
    position: absolute;
    content: "";
    left: -6px;
    top: 50%;
    right: 0;
    width: 26px;
    border-top: 1px solid;
    border-color: inherit;
    transform: rotate(-30deg);
}

#profile-text-export{
    display: none;
    font-size: 14pt;
    width:100%;
    height:450px;
}

#profile-text-import{
    display: none;
    font-size: 14pt;
    width:100%;
    height:450px;
}

#profile-import-confirm{
    float: right;
    display:none;
}

.profile-import-confirm-ready{
    display: inline-block !important;
}

textarea{
    resize: none;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 9px;
}

.location{
    display: inline-block;
    margin-bottom: 20px;
}

.location div{
    display: inline-block;
}

.location input{
    padding: 0;
    border: none;
}

.location input::placeholder{
    color:rgb(220, 220, 220);
}

.dark-dark .location input::placeholder{
    color:rgb(100, 100, 100);
}

.note a{
    color: inherit;
    text-decoration: underline;
}

.darkmode-on{
    background-color: rgb(45, 45, 45);
    border: 1px solid white;
}

.darkmode-off{
    background-color: white;
    border: 1px solid rgb(45, 45, 45);
}

.dark-dark{
    background-color: rgb(10, 10, 10) !important;
    color: white !important;
}

.dark-light{
    background-color: rgb(45, 45, 45) !important;
    color:white !important;
    border-color: rgb(80, 80, 80) !important;
}

.white-after::after{
    background-color: #929292 !important;
}

.white-color{
    color: white !important;
}

.dark-dark .note{
    color:rgb(100, 100, 100) !important;
}

.dark-dark table{
    border-color: white !important;
}

input.dark-dark{
    border-color: white !important;
}

#edit{
    position: absolute;
    padding:0;
    border:none;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.2s background-color ease;
    display: inline-block;
}

.dark-dark #edit{
    background-color: rgb(10, 10, 10);
    color: white !important;
}

.input-error{
    background-color: #faa09c !important;
}

.dark-dark .input-error{
    background-color: #772a26 !important;
}

.opacity-1{
    opacity: 1 !important;
}