*{
  padding: 0;
  margin: 0;
  font-size: 0;
  user-select: none;
  overflow:hidden;
}

@font-face {
  font-family: GothamRoundedLight;
  src: url("./GothamRoundedLight.otf") format("opentype");
}

@font-face {
  font-family: GothamBold;
  src: url("./GothamBold.otf") format("opentype");
}



body {
  /*background-image: url("./img/bg1.png");*/
  background-color: rgb(230, 230, 230);
  width: 100%;
  height: 100%;
  position:absolute;
}

.header{
  height: 131px;
  width: 100%;
  position:absolute;
  left: 0;
  top: 0;
  overflow: visible;
}

.bar_ini{
  background-color: rgb(52, 61, 70);
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  will-change: transform;
}

.bar{
  background-color: rgb(52, 61, 70);
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(0);
  transition: transform .6s cubic-bezier(0.38, 0.26, 0.28, 0.96);
}

.top_left_icon{
  overflow: visible;
  position:absolute;
  display:flex;
  width: 75px;
  height: 75px;
  left: 50px;
  top: 27.5px;
}

.top_right_icon{
  position:absolute;
  width: 75px;
  height: 75px;
  right: 50px;
  top: 27.5px;
  font-family: GothamRoundedLight;
  color: rgb(230, 230, 230);
  text-align:center;
}

.top_left_icon a{
  overflow: visible;
  display: flex;
}

#diversity{
  margin: auto auto;
  position:relative;
  width:100%;
  height: 100%;
  transition: 0.05s transform ease-in-out;
  will-change: transform;
}

#diversity:hover{
  transform: scale(1.03);
}

.input{
  width: 345px;
  overflow:visible;
  position: absolute;
  left:50%;
  top: 37px;
}

@media only screen and (max-width: 1000px) {
  .input{
    left:492px;
  }
  .content{
    width: 935px !important;
    height: 110px !important;
  }
  .preview-small{
    box-sizing: border-box;
    height: 110px !important;
  }
  .top_right_icon{
    left: 875px !important;
  }
  .header{
    width: 1000px;
  }
}

#input {
  left:-172.5px;
  position: absolute;
  font-family: GothamRoundedLight;
  outline: none;
  z-index: 50;
  white-space: nowrap;
  width: 345px;
  box-sizing: border-box;
  height: 50px;
  background-color: #e3e3e3;
  border: none;
  font-size: 13pt;
  float: left;
  color: #333c47;
  padding-left: 45px;
  border-radius: 5px;
  text-decoration: none;

  transition: background-color .55s ease;
  will-change: background-color;
}

#input:hover{
  background-color: #f0f0f0;
}

.border-Google{
  border-left: #2a7eeb59 10px solid !important;
}

.border-Youtube{
  border-left: rgba(255, 0, 0, 0.26) 10px solid !important;
}

.border-Soundcloud{
  border-left: rgb(233, 183, 147) 10px solid !important;
}


#input::selection{
  color:#333c47;
  background-color: rgb(210, 210, 210);
  text-decoration: none;
}

.time{
  position: absolute;
  left: -100%;
  top: 128px;
  height: 3px;
  width: 100%;
  transform: translateX(0%);
  background-color: rgb(230, 230, 230);
  transition: 2.5s transform cubic-bezier(0.65, 0, 0.1, 1);
  will-change: transform;
}

.clock{
  text-shadow: 2px 2px rgb(220, 220, 220);
  z-index: 10;
  left: 0;
  margin-top: 5px;
  margin-left: 5px;
  width:100%;
  position: absolute;
  overflow: visible;
  transition: transform 2.5s cubic-bezier(0.65, 0, 0.1, 1);
  will-change: transform;
}

.clock span{
  color: rgb(52, 61, 70);
  font-size: 11pt;
}

.clock .hour{
  opacity: 0;
  font-family: GothamBold;
  font-weight: 1000;
  transition: opacity 0.7s cubic-bezier(0.7, 0, 0.2, 1);
}

.clock .minute{
  opacity: 0;
  font-family: GothamBold;
  font-weight: 1000;
  transition: opacity 0.7s cubic-bezier(0.7, 0, 0.2, 1);
  will-change: opacity;
}

.clock .second{
  font-family: GothamRoundedLight;
  opacity: 0;
  transition: 0.7s opacity ease-in-out;
  will-change: opacity;
}

.date{
  display: block;
  font-size: 22pt;
  margin: 5px 10px 0 10px;
}

.month{
  display: block;
  font-size: 13pt;
  margin: 5px 10px 0 10px;
}

.content{
  width: auto;
  position: absolute;
  top:165px;
  right: 25px;
  left: 25px;
  display:inline-block;
  overflow: visible;
}

.preview-small{
  box-sizing: border-box;
  width: 20%;
  height: 11vw;
  margin: 0;
  float:left;
  display: block;
  overflow: visible;
}

.image-container{
  position:relative;
  display:flex;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.preview-small img{
  z-index: 7;
  cursor: pointer;
  width: 88%;
  height: 88%;
  margin: auto auto;
  image-rendering: pixelated;
  opacity: 0;
  transition: opacity .3s ease;
  will-change: opacity;
}

.preview-small-img-active{
  opacity: 0.7 !important;
}

.shadow-container{
  position:relative;
  display: flex;
  width:100%;
  height:100%;
  overflow: visible;
}


.container-white{
  top: -100%;
}

.container-color{
  top: -200%;
}

.container-color-cover{
  top: -300%;
  z-index: 6;
  transition: 0.2s opacity ease;
  will-change: opacity;
}


.outer-rect{
  box-sizing:border-box;
  box-shadow: 3px 3px 1px 0px rgb(220, 220, 220);
  z-index: 0;
  margin: auto auto;
  width: 88%;
  height: 88%;
  transition: 0.2s ease;
  will-change: transform;
}

.container-color .outer-rect{
  opacity: 0;
  border-style: solid;
  border-width: 1px;
  transition: 0.2s ease;
}

.outer-rect-active{
  transform: scale(1.07954, 1.13636);
  opacity: 1 !important;
}


.inner-rect{
  box-sizing:border-box;
  box-shadow: 3px 3px 1px 0px rgb(220, 220, 220);
  z-index: 1;
  margin: auto auto;
  width: 88%;
  height: 88%;
  border-style: solid;
  border-width: 1px;
  transition: 0.2s ease;
  will-change: opacity, transform;
}

.inner-rect-active{
  transform: scale(1.0375, 1.060227);
}


.cover-container-centered{
  z-index: 7;
  box-shadow: 3px 3px 1px 0px lightgrey;
  margin: auto auto;
  opacity: 1;
  width: 88%;
  height: 88%;
}

.cover{
  position: relative;
  opacity: 1;
  transform: skewY(-30deg);
  height: 202%;
  top: -51%;
  will-change: transform;
  transition: 0.15s steps(100);
}

.cover-active{
  transform: translateY(100%) skewY(-30deg);
}


.white{
  background-color: rgb(230, 230, 230);
}

.red{
  background-color: rgb(255, 160, 160);
}

.orange{
  background-color: rgb(255, 200, 160);
}

.blue{
  background-color: rgb(160, 160, 255);
}

.purple{
  background-color: rgb(220, 160, 255);
}

.orange2{
  background-color: rgb(255, 180, 140);
}


.container-color .red{
  background-color: rgba(255, 160, 160, 0.1);
  border-color: rgb(255, 160, 160);
}

.container-color .orange{
  background-color: rgba(255, 200, 160, 0.1);
  border-color: rgb(255, 200, 160);
}

.container-color .blue{
  background-color: rgba(160, 160, 255, 0.1);
  border-color: rgb(160, 160, 255);
}

.container-color .purple{
  background-color: rgb(150, 144, 153, 0.1);
  border-color: rgb(220, 160, 255);
}

.container-color .orange2{
  background-color: rgba(255, 180, 140, 0.1);
  border-color: rgb(255, 180, 140);
}

#yt .white{
  border-color: rgb(255, 160, 160);
}

#sc .white{
  border-color: rgb(255, 200, 160);
}

#tv .white{
  border-color: rgb(160, 160, 255);
}

#tw .white{
  border-color: rgb(220, 160, 255);
}

#g .white{
  border-color: rgb(255, 180, 140);
}

.preview-big{
  position:absolute;
  left: 0;
  top: 60%;
  width: 100%;
  transition: 0.3s ease;
  will-change: top;
}

@media only screen and (max-height: 800px) {
  .preview-big{
    top: 70%;
  }
}

@media only screen and (max-height: 600px) {
  .preview-big{
    top: 80%;
  }
}

@media only screen and (max-height: 500px) {
  .preview-big{
    top: 100%;
  }
}

.preview-active-exit{
  top: -1px;
  opacity: 1;
  z-index: 100 !important;
  transition: 0.6s cubic-bezier(1, 0, 0.4, 0.4) !important;
  will-change: top;
}

.preview-active-exit img{
  top: 0 !important;
  opacity: 0.8 !important;
  transition: 0.6s cubic-bezier(1, 0, 0.4, 0.4) !important;
  transition: 0.6s opacity cubic-bezier(0.54, -0.58, 0.4, 0.98) !important;
}

.preview-big img{
  position: relative;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 30px;
  image-rendering: pixelated;
  transition: 0.3s ease;
  will-change: opacity;
}

.fade-out{
  opacity: 0;
  transition: 0.5s cubic-bezier(1, 0, 0.7, 1) !important;
  will-change: opacity;
}

.preview-active img{
  top: 0;
  opacity: 0.3;
}


#white img{
  filter: brightness(0.941);
  opacity: 0;
  will-change: opacity;
}

.small-bar{
  height: 1px;
  width: 100%;
  margin: 0 auto;
  top: -1px;
  transform: scaleX(0);
  transition: 0.3s ease-out;
  will-change: transform;
}

.small-bar-active{
  transform: scaleX(1);
}

.small-bar-active-exit{
  transform: scaleX(1) !important;
}

.slider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.slider div{
  position:absolute;
  width:0;
  height:0;
  bottom: 0;
  transform-origin: bottom left;
}

.triangle-colored{
  z-index: 131;
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid rgb(255, 160, 160);
  transform: translateX(-3717px);
  transition: 0.6s transform cubic-bezier(0.3, 0, 0.55, 1);
  will-change: transform;
}

.triangle-white{
  z-index: 132;
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid white;
  transform: translateX(-3717px);
  transition: 0.6s cubic-bezier(0.45, 0, 0.7, 1);
  will-change: transform;
}


.yt-triangle-colored-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid rgb(255, 160, 160);
  transform: translateX(0);
}

.sc-triangle-colored-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid rgb(255, 200, 160);
  transform: translateX(0);
}

.tv-triangle-colored-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid rgb(160, 160, 255);
  transform: translateX(0);
}

.tw-triangle-colored-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid rgb(220, 160, 255);
  transform: translateX(0);
}

.g-triangle-colored-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid rgb(255, 180, 140);
  transform: translateX(0);
}

.triangle-white-exit{
  border-left: 0 solid transparent;
  border-right: 3717px solid transparent;
  border-bottom: 2100px solid white;
  transform: translateX(0);
}

.display{
  display:block;
}

.search-exit-fade{
  top: -1px;
  opacity: 1;
  transition: none;
}

.search-exit-fade img{
  opacity: 1 !important;
  top: 0 !important;
  z-index: 133;
  transition: none;
  transition: 0.07s opacity ease !important;
}

.text-container{
  text-shadow: 2px 2px rgb(200, 200, 200);
  overflow: visible;
  position:absolute;
  top: 26vw;
  left: 10vw;
  font-family: GothamRoundedLight;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .text-container{
    top: 364px;
    left: 140px;
  }
}

.text-site{
  position:relative;
  font-size: 20pt;
  top: -10pt;
  opacity: 0;
  will-change: top, opacity;
  transition: 0.2s cubic-bezier(0, 0.26, 0.32, 0.99);
}

.text-opacity-active{
  opacity: 1;
  transition: 0.2s cubic-bezier(0.46, 0.21, 0.46, 0.87) !important;
}

.text-underline{
  box-shadow: 2px 2px rgb(210, 210, 210);
  height:1px;
  width: 100%;
  transform-origin:left;
  transform: scaleX(0);
  opacity: 0;
  background-color: rgb(50, 50, 50);
  will-change: transform, opacity;
  transition: 0.2s cubic-bezier(0, 0.26, 0.32, 0.99);
}

.text-site-active{
  top: 0;
  opacity: 1;
}

.text-underline-active{
  transform: scaleX(1);
  opacity: 1;
}

.text-box{
  position:absolute;
  padding-bottom: 5px;
  padding-right: 5px;
}

.weather-container{
  display:block;
  overflow: visible;
  color: rgb(230, 230, 230);
  position: absolute;
  top: 0;
  opacity: 0;
  left: 25%;
  height: 50px;
  font-family: GothamRoundedLight;
  will-change: opacity;
  transition: 2s opacity ease;
}

.weather-description{
  margin-left: 80px;
  margin-top: 35px;
  color: rgb(230, 230, 230);
  font-size: 12pt;
}

.weather-degrees{
  margin-left: 80px;
  margin-top: 5px;
  color: rgb(230, 230, 230);
  font-size: 12pt;
}

